#root {
  min-width: 1280px;
  /* margin: 0 auto; */
  /* padding: 2rem; */
  /* text-align: center; */
}

body {
  margin: 0px;
}

h2 {
  margin-top: 0px;
}

h4 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 450px;
  background-color: #f4f4f4;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  height: 96vh;
}

.sidebar .card {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin: 10px 0;
  transition: box-shadow 0.3s ease;
}

.sidebar .mt-5 {
  margin-top: 5px;
}

.sidebar .mt-15 {
  margin-top: 15px;
}

.sidebar .ta-center {
  text-align: center;
}

.sidebar .ml-15 {
  margin-left: 15px;
}

.sidebar .input-medium {
  width: 18rem;
  height: 1rem;
  padding: 0.5rem 0.75rem;
  border: 1px solid #ccc;
  border-radius: 0.375rem;
  font-size: 1rem;
}

.sidebar .textarea-large {
  white-space: pre-wrap;
  width: 23rem;
  height: 5rem;
  resize: vertical;
}

.sidebar .toggle-button {
  font-size: 1.2rem;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 1px solid #444;
  background-color: transparent;
  cursor: pointer;
}

.sidebar label {
  width: 70px;
  display: inline-block;
}

.sidebar .label-small {
  font-size: 0.8rem;
}

.viewer {
  flex: 1;
  display: flex;
  border-left: 3px solid #eaeaea;
}

#viewer-host {
  width: 100%;
  height: 100%;
}
